################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignalRDemo
/SignalRDemo/bin/Debug/net6.0
/SignalRDemo/obj
/SignalRDemo/wwwroot/lib
